<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8" />
      <title>Welcome</title>
   </head>
   <body>
      <p>
         Welcome to webserver running on [% ansible_hostname %]
      </p>
   </body>
</html>