listen={{vsftpd_listen}}
anonymous_enable={{vsftpd_anon_enable}}
local_enable={{vsftpd_local_enable}}
write_enable={{vsftpd_write_enable}}

anon_root={{vsftpd_anon_root}}
anon_upload_enable={{vsftpd_anon_upload_enable}}
anon_mkdir_write_enable={{vsftpd_anon_mkdir_write_enable}}

chown_uploads={{vsftpd_chown_uploads}}
xferlog_enable={{vsftpd_xferlog_enable}}
